{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div style="float: right;">
        {% if user.is_authenticated %}
        
            {% include "carro/widget.html" %}

        {% else %}

          <div class="alert alert-danger text-center" style="margin-top: 10; width: 300;">
            <a href="{% url 'logear' %}"  class="linkSubrayado-carrito" >Iniciar sesión</a>
            &nbsp;/&nbsp;
            <a href="{% url 'Autenticacion' %}" class="linkSubrayado-carrito">Registrate</a>
            <br>
            <a>para agregar productos</a>
          </div>



        {% endif %}
    </div>
    <div class="card-group">
    <div class="row">
      {% for producto in productos %}
        <div class="col-md-4  col-sm-12 col-xs-12">   <!--Ver para responsev y con carrito-->
          <div class="card" style="margin: 10px 5px;">
          <div class="card border-dark">

            <img src="{{producto.imagen.url}}" class="card-img-top" style="height: 200px;" >

            <div class="card-body" style="text-align: center;">

              <h7 class="card-title">{{producto.nombre}}</h7>  

              <p class="card-text" >$&nbsp;{{producto.precio}}</p>

            </div>

            {% if user.is_authenticated %}
            <div class="card-footer text-center">

               <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success" style="background-color:rgb(6, 177, 120);border-color:rgb(32, 32, 32)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg> &nbsp; Agregar al carro
              </a>

            </div>

            {% endif %}
            </div>
           </div>
        </div>
      {% endfor %}
    </div>
   </div>
</div>


{% endblock %}